<sly data-sly-use.articleInfo="com.bhasaka.newsportal.core.models.ArticleDetailsModel">
    <div div-data-sly-test=${!articleInfo.articleIsExpired}>
        <h1 class="article-title">${articleInfo.articleTitle}</h1>
        <div class="article-desc">${articleInfo.articleDesc}</div>
        <img src="${articleInfo.articleImage}" class="article-image" />
    </div>

    <div data-sly-test=${articleInfo.articleIsExpired}>
        <h1>Article Is Expired...!!</h1>
    </div>
    <div>
        Client Id: ${articleInfo.getClientId}
    </div>
</sly>
<p>***********************************</p>

<h1 class="article-title">${properties.articleTitle}</h1>
<div class="article-desc">${properties.articleDesc}</div>
<img src="${properties.articleImage}" class="article-image" />

<!-- include -->
<p>include</p>
<div data-sly-include="writer-info.html"></div>

<!-- resources -->
<p>resources</p>
<div data-sly-resource="${'np-button' @resourceType='newsportal/components/button'}"></div>

<!-- Test -->
<p>Test</p>
<div data-sly-test="${properties.articleTitle}">
    <!-- Here we are testing whether there exist a title for the component-->
    <!-- If yes then only execute the remaining steps -->
    <h1>${properties.articleTitle}</h1>
    <div>${properties.articleDesc}</div>
    <img data-sly-test="${properties.articleImage}" src="${properties.articleImage}">
    <!-- Here we are testing whether there exist a image for the component--> <!--If yes then only render the image -->
</div>

<!-- List -->
<p>List</p>
<ul data-sly-list="${properties.articleLabels}"> <!-- Here only the child nodes are iterated-->
    <li>${item}</li>
</ul>

<!-- List Advanced -->
<p>List Advanced</p>
<ul data-sly-list="${properties.articleLabels}">
    <li data-sly-test="itemList.count<=3">
        first: ${itemList.first},
        last:${itemList.last},
        middle:${itemList.middle},
        even:${itemList.even},
        odd:${itemList.odd},
        index:${itemList.index},
        count:${itemList.count},
        item :${item}
    </li>
</ul>

<!-- Repeat -->
<p>Repeat</p>
<ul data-sly-repeat="${properties.articleLabels}"> <!-- Here BOTH the host node and the child nodes are iterated-->
    <li>${item}</li>
</ul>

<!-- Template 1 -->
<div data-sly-template.writerInfo>
    <p>TYPE I : Hard Coded Template </p>
    <h1>First Name :Vinay Kumar</h1>
    <h2>Last Name :Polina</h2>
    <h3>Email :vinaypolina@outlook.com</h3>
</div>

<div data-sly-call="${writerInfo}"></div>

<!-- Template 2 -->
<div data-sly-template.writerInfo2="${@firstName,lastName,email}">
    <p>TYPE II : Template with custom arguments </p>
    <h1>First Name - ${firstName}</h1>
    <h2>Last Name - ${lastName}</h2>
    <h3>Email - ${email}</h3>
</div>

<!-- Call 1 with data hardcoded from call -->
<div data-sly-call="${writerInfo2 @firstName = 'vinay',lastName='polina',email='vinaypolina@outlook.com'}"></div>
<!-- Call 2 with data passing from dialog into call -->
<div
    data-sly-call="${writerInfo2 @firstName = properties.firstName,lastName= properties.lastName,email= properties.email}">
</div>

<!--<div data-sly-call="${writerInfo2 @firstName = 'charan',lastName='peddi',email='charanpeddi@outlook.com'}"></div>-->

<!-- Call 3 calling from another location -->
<div data-sly-use.wf="writer-info.html"></div> <!-- Creating object -->
<div
    data-sly-call="${wf.writerInfo3 @firstName=properties.firstName , lastName=properties.lastName , email=properties.email}">
</div>

<!-- element  -->
<h1 data-sly-element="${properties.titleType}">${properties.articleTitle}</h1>

<!-- text  -->
<p data-sly-text="${properties['jcr:title']}">Default Text</p>

<!-- attribute -->
<!-- see in chat gpt  -->


<!-- unwrap/<sly>-->
<sly data-sly-call="${writerInfo}"></sly> we use data-sly-unwrap / <sly> to remove the div from rendering